@page "/kontakt"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<table>
  <tr>
    <th>Medarbejder: </th>
    <th>Karen Hansen</th>
    </tr>
  </tr>
  <th>Tlf: 29 10 83 29</th>
  </tr>
  <tr>
    <th>Email: Karensmail@gmail.com</th>
  </tr>
</table>
